doctype html

html(lang='en')

	head
		title Parallax
		meta(
			name='viewport'
			http-equiv='Content-Type'
			content='width=device-width, initial-scale=1'
		)
		meta(
			name='theme-color'
		)
		link(
			rel='stylesheet'
			type='text/css'
			href='style.css'
		)

	body
		footer
			#copyright.
				CSS Parallax Scrolling demo, created by Julian Coleman. All images taken by Julian as well.
		main.parallax
			figure.parallaxGroup
				.parallaxLayer.baseLayer
					.leftTitle Parallax Image Gallery
					.rightTitle by Julian Coleman
			figure.parallaxGroup
				.parallaxLayer.baseLayer
					.leftTitle Cherry Blossoms
				.parallaxLayer.backgroundLayer
					.rightTitle Selma M. Layne Park
			figure.parallaxGroup
				.parallaxLayer.foregroundLayer
					.rightTitle Fresno Chafee Zoo
				.parallaxLayer.baseLayer
					.leftTitle Sealion
			figure.parallaxGroup
				.parallaxLayer.baseLayer
					.leftTitle Japanese &quot;Shinzen&quot; Garden
				.parallaxLayer.backgroundLayer
					.rightTitle Woodward Park
				.parallaxLayer.deepBackgroundLayer
			figure.parallaxGroup
				.parallaxLayer.foregroundLayer
					.rightTitle Fresno Chaffee Zoo
				.parallaxLayer.baseLayer
			figure.parallaxGroup
				.parallaxLayer.backgroundLayer
					.rightTitle Woodward Park
				.parallaxLayer.baseLayer
					.leftTitle Japanese &quot;Shinzen&quot; Garden
			figure.parallaxGroup
				.parallaxLayer.baseLayer
					.groupTitle Duck Park<br/>Woodward Park